

body{
    
    min-height: 100%;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
         
}

.hidden{
	display: none;
}
/*
.showroundcount{
	display: block;
}*/
/* Background animatiom Bonus */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
/* Background animatiom Bonus */



h2{
    position: fixed;
    font-family: monospace;
    font-size:xx-large;
    font-weight:800;

}
.inter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px auto;
    background-color: #000;
    width: 500px;
    height: 660px;
    border: 3px solid aqua;
    border-radius: 15%;
    
    
}


.firstcontain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.inpradio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #fff;
    width: 300px;
    height: 150px;
}


.score{
    display: flex;
    justify-content:space-evenly;
    border: 2px solid #fff;
    position: relative;
    width: 300px;
    height: 70px;
    top: 15px;
    
}
.user, .comp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: crimson;
    color: #fff;
    font-size: 10px;
}
.user{
    top: 20px;
    z-index: 5;
    left: -12px;

}
.comp{
    top: 20px;
    left: 290px;
    z-index: 8;
}

.num{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;

}
#reSult{
    text-align: center;
    
    font-style: italic;
    font-weight: bolder;
    font-size: larger;
}

/* button for start and reset game */

#imggame{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-right: 20px;
   
}
#butt{
    display: flex;
   justify-content: space-around;
   width: 300px;
   
}

#Rock{
    background-image: url(../img/icons8-hand_-felsen-50.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    display: flex;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
  
   
}
 #Paper{
    background-image: url(../img/icons8-ganze-hand-80.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    display: flex;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    
   
 }
 
 #Scissors{
   background-image: url(../img/icons8-hand_-schere-50.png);
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 65%;
   display: flex;
   border: 3px solid #fff;
   border-radius: 50%;
   width: 10vh;
   height: 10vh;
  
 
}


.circle:hover {
    cursor: pointer;
    border: 5px dotted #DDA0DD;
  
    
  }

.reset{
    display: flex;
    flex-direction: column;
   
}
#refresh{
    border: none;
    text-decoration: underline;
    background-color: transparent;
    color: #ffff00;
}

.button_green{
    border: 4px solid #4dcc7d;
    box-shadow: 0px 0px 30px #31b43a;
    padding: 15px;
}
.button_red{
    border: 4px solid #fc121c;
    box-shadow: 0px 0px 30px #d01115;
    padding: 15px;
}
.button_graw{
    border: 4px solid  #464647;
    box-shadow: 0px 0px 30px #25292b;
    padding: 15px;
}





